/*
 * configuración general
 */

@font-face {
    font-family: ComfortaaN;
    src: url(../fonts/Comfortaa_Bold.ttf);
}

@font-face {
    font-family: ComfortaaR;
    src: url(../fonts/Comfortaa_Regular.ttf);
}

@font-face {
    font-family: ComfortaaS;
    src: url(../fonts/Comfortaa_Thin.ttf);
}

* {
    font-family: ComfortaaR;
}

a {
    text-decoration: none;
}


/* Cuerpo del html */

body {
    padding: 0%;
    margin: 0%;
}

.body {
    padding-top: 90px;
    display: grid;
    grid-template-rows: 1fr 170px;
    grid-template-columns: 1fr;
}


/* Header */

.header {
    height: 90px;
    position: fixed;
    width: 100%;
    background-color: #101010;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header {
    display: flex;
}

img[alt="logo_artisan"] {
    object-fit: contain;
    height: 51px;
    padding-right: 10px;
}

.logotxt {
    background: -webkit-linear-gradient(#00ff37, #0066ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: auto;
}

.enter {
    flex-direction: row-reverse;
    align-self: center;
}

a {
    color: #fff;
    padding: 5px 20px;
    margin: 0% 10px;
    transition: 0.3s;
}

a:hover {
    background-color: #2ddd71;
    color: #fff;
    border-radius: 5px;
}

a:active {
    color: #008f3b;
}

.here {
    background-color: #1d1d1d;
    border-radius: 5px;
    color: #2ddd71;
}

nav {
    align-self: center;
    display: flex;
    justify-content: space-around;
}


/* Contenido */

h2 {
    text-align: center;
}

.content>section>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article {
    padding: 10px;
    text-align: center;
}

figure>img {
    width: 100%;
}

iframe {
    height: 100vh;
    width: 100%;
}

.iframe {
    grid-column: 1 / 3;
}


/* Footer */

.footer {
    background-color: #101010;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.copy {
    grid-column: 1/4;
    align-self: flex-end;
}

@media only screen and (max-width: 680px) {
    .element {
        grid-column: 1/4;
    }
    .body {
        grid-template-rows: 1fr 350px;
    }
    article {
        grid-column: 1/3;
    }
}