/*
 * configuración general
 */
@font-face {
    font-family: ComfortaaN;
    src: url(../fonts/Comfortaa_Bold.ttf);
}

@font-face {
    font-family: ComfortaaR;
    src: url(../fonts/Comfortaa_Regular.ttf);
}

@font-face {
    font-family: ComfortaaS;
    src: url(../fonts/Comfortaa_Thin.ttf);
}

* {
    font-family: ComfortaaR;
}

/* Cuerpo del html */
body{
    padding: 0%;
    margin: 0%;
}

.body{
    display: grid;
    grid-auto-rows: 200px 1fr 300px;
    grid-auto-columns: 1fr;
}

/* Header */

header{
    display: grid;
    grid-column: 1fr 1fr;
}






iframe{
    height: 100vh;
    width: 100%;
}