.title_homepage{
    border-radius: 5000px;
    background-color: rgb(232, 106, 51, 0.5);
    transition-delay:1s;
}

.title_homepage:hover{
    border-radius: 5000px;
    background-color: rgb(232, 106, 51, 1);
    transition-delay:1s;
}